.vs/slnx.sqlite
.vs/Learn/CopilotIndices/17.14.939.21063/CodeChunks.db
.vs/Learn/CopilotIndices/17.14.939.21063/CodeChunks.db-shm
.vs/Learn/CopilotIndices/17.14.939.21063/CodeChunks.db-wal
.vs/Learn/CopilotIndices/17.14.939.21063/SemanticSymbols.db
.vs/Learn/CopilotIndices/17.14.939.21063/SemanticSymbols.db-shm
.vs/Learn/CopilotIndices/17.14.939.21063/SemanticSymbols.db-wal
.vs/Learn/FileContentIndex/d2f69f11-6f5a-46f8-982c-faa9aa69efa6.vsidx
.vs/
